@import "variables";
@import "extends";
@import "mixins";

.div-registrarse {
    padding-bottom: 25px;
}

.section-registrarse {
    padding: 30px;
}

#cuentaCorrecta {
    display: none;
    padding: 10px;
}
#cuentaIncorrecta {
    display: none;
    padding: 10px;
}