
    $font: 'Roboto', sans-serif;
    $size-Titulos: 40px;
    $size-Semititulos: 25px;
    $size-Texto: 15px;


    $color-Titulos: rgb(46, 145, 46) ;
    $color-Semititulos: rgb(34, 77, 40) ;
    $color-texto: rgb(0, 0, 0) ;
    $color-texto-pie-de-pagina: white;


    $color-fondo-de-pagina:white; 
    $color-fondo-de-encabezado:green;
    $color-fondo-de-pie-de-pagina:black;


